<!--The content below is only a placeholder and can be replaced.-->
<div class = "container">
    <h1>Dojo Mail</h1>
    
    <table>
      <thead>
        <th>Email</th>
        <th>Importance </th>
        <th>Subject</th>
        <th>Content</th>
      </thead>
      <tbody>
        <tr *ngFor='let user of users'>
             <td>{{user.email | lowercase}}</td>
             <td *ngIf='user.importance'>High</td>
            <td *ngIf='!user.importance'>Low</td>
             <td>{{user.subject}}</td>
             <td>{{user.content}}</td>
        </tr>
      </tbody>
    </table>

</div>

